<% content_for(:title, "プロフィール") %>
<div class="main edit">
  <h3>プロフィール</h3>
  <div class="form">
    <%= form_with url:user_path(@user), method: :patch do |f| %>
      <table>
        <tr>
          <th><%= f.label :name ,"名前" %></th>
          <td><%= f.text_field :name, value: @user.name, id: "edit-name" %></td>
        </tr>
        <tr>
          <th><%= f.label :profile ,"プロフィール" %></th>
          <td><%= f.text_area :profile, value: @user.profile, id: "profile-text" %></td>
        </tr>
      </table>
      <%= react_component 'IconSelect', user: @user %>
      <ul>
        <li><%= f.submit "変更した内容を保存する", class: "submit" %></li>
      </ul>
    <% end %>
  </div>
</div>
