<% content_for(:title, "プロフィール") %>
<div class="main edit">
 <h3>設定</h3>
   <div class="edit-item">
    <%= form_with url:user_path(@user), method: :patch do |f| %>
      <table>
        <tr>
          <th><%= f.label :name ,"名前" %></th>
          <td><%= f.text_field :name, value: @user.name %></td>
        </tr>
        <%= react_component 'IconSelect', user: @user %>
        <tr>
          <th><%= f.label :profile ,"プロフィール" %></th>
          <td><%= f.text_field :profile, value: @user.profile %></td>
        </tr>
      </table>
      <ul>
        <li><%= f.submit "変更した内容を保存する"%></li>
      </ul>
    <% end %>
  </div>
</div>
