<div class="event-box">
  <ul class="event-info">
    <li><%= link_to event.name,event_path(event) %></li>
    <li>ひとり<%= event.price %>円程度</li>
    <li><%= event.address %></li>
    <li><%= event.start_at %></li>
    <li><%= event.finish_at %></li>
  </ul>
  <img class="event-image" src="https://<%= Rails.application.credentials.aws[:s3_URL] %>/titles/event_image/<%= event.image %>" >
</div>