<div>
  <tr>
    <td><img src="https://<%= Rails.application.credentials.aws[:s3_URL] %>/titles/event_image/<%= event.image %>" ></td>
    <td><%= event.name %></td>
    <td>ひとり<%= event.price %>円程度</td>
    <td><%= event.address %></td>
    <td><%= event.start_at %></td>
    <td><%= event.finish_at %></td>
  </tr>
</div>