<% content_for(:title, "イベント - #{@event.name}") %>
<div class="event show">
  <div class="event-top">
    <h2><%= @event.name %></h2>
    <div class="favorite-button" id="event_<%= @event.id %>">
      <%= render "events/favorites_button", event: @event %>
    </div>
  </div>
  <div class="event-wrapper">
    <div class="show-event-info">
      <div class="event-info-list">
        <ul>
          <li>会場: <%= link_to @event.place, spot_path(@event.spot_id) %></li>
          <li>チケット: 一人当たり<%= @event.price %>円程度</li>
          <li>イベント開始日: <%= start_at_show(@event) %></li>
          <li>イベント終了日: <%= finish_at_show(@event) %></li>
          <% if @event.url.present? %>
            <li><%= link_to "公式サイトはこちらから", @event.url %></li>
          <% end %>
          <li><%= @event.note %></li>
          <li>掲載元: <%= @event.source %></li>
        </ul>
      </div>
      <div class="related-events">
        <% if @related_events.present? %>
          <p>このイベントを開催している他の会場はこちら</p>
          <%= render partial: "events/related_event", collection: @related_events %>
        <% end %>
      </div>
    </div>
    <div class="show-event-image">
      <%= image_tag @event.image %>
    </div>
  </div>
  <div class="related-post-wrapper">
    <% if @related_posts.present? %>
      <h3>このイベントに関する投稿</h3>
      <%= render partial: "events/related_post", collection: @related_posts %>
    <% else %>
      <p>このイベントに関する投稿はありません。</p>
    <% end %>
  </div>
</div>
