<% content_for(:title, "投稿") %>
<div>
  <h1>みんなの投稿</h1>
  <% @posts.each do |post| %>
    <div class="post-box">
      <div class="post-user">
        <%= image_tag post.user_icon, class: "post-icon" %>
        <div class="post-user-name">
          <%= link_to user_path(post.user) do %>
            <%= post.user_name %>さん
          <% end %>
        </div>
        <div class="post-create">
          投稿日時 : <%= created_at_show(post) %>
        </div>
      </div>
      <p class="post-name"><%= link_to post.name, event_search_path(post.title_id), method: :post %></p>
      <p class="post-content"><%= post.content %></p>
    </div>
  <% end %>
</div>
