<header>
  <h1><%= link_to('謎解きイベント検索アプリ','/',class:"header-logo") %></h1>
  <div class="header-user">
    <% if @current_user %>
      <p><%= @current_user.name %></p>
        <div class="dropdown">
          <div class="menu">
            <div class="icon">
              <%= image_tag @current_user.icon %>
            </div>
            <div class="sub-menu">
              <ul>
                <li><%= link_to("行きたい！イベント", "/#{@current_user.id}/like") %></li>
                <li><%= link_to("参加済イベント", "/#{@current_user.id}/record" ) %></li>
                <li><%= link_to("設定",edit_user_path(@current_user) ) %></li>
                <li><%= link_to "ログアウト", "/logout", {method: :post} %></li>
              </ul>
            </div>
          </div>
        </div>
    <% else %>
      <p><%= link_to('ログイン','/login') %></p>
      <p><%= link_to("新規登録",:new_user) %></p>
    <% end %>
  </div>
</header>
