<div class="popular-event">
  <%= link_to popular_event.name, event_path(popular_event) %>
  <img src="https://<%= Rails.application.credentials.aws[:s3_URL] %>/titles/event_image/<%= popular_event.image %>" >
  <%= popular_event.start_at %>
  <%= popular_event.finish_at %>
  <%= popular_event.place %>
</div>  
