<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= include_gon %>
  </head>
  <body>
    <% unless current_page?("/") %>
    　<header>
        <div class="header-wrapper">
          <div class="header-logo">
            <h1><a href='/home'>謎解き検索</a></h1>
          </div>
          <% if logged_in? %>
            <%= render partial: "layouts/users_header" %>
          <% end %>
        </div>
        <%= render partial: "layouts/header_nav" %>
      </header>
    <% end %>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <main>
      <% unless current_page?("/") %>
        <div class="right-section">
          <h2>人気のイベント</h2>
          <%= render partial: "layouts/popular_event", collection: popular_events %>
        </div>
      <% end %>
      <div class="main-section">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
