<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= include_gon %>
  </head>
  <body>
    <% unless current_page?("/") %>
    　<header>
        <div class="header-wrapper">
          <div class="header-logo">
            <h1><a href='/home'>なぞなび</a></h1>
          </div>
          <div class="header-search">
            <p>
              <%= form_with url:address_path, method: :get,  class:"area-search" do |f| %>
                <%= text_field_tag :address, value="東京" %>
                <%= submit_tag '探す', :name => nil %>
              <% end %>
            </p>
            <p>
              <%= form_with url:search_path, method: :get do |f| %>
                <%= text_field_tag :search, value="フリーワード" %>
                <%= submit_tag '探す', :name => nil %>
              <% end %>
            </p>
          </div>
          <% if logged_in? %>
            <%= render partial: "layouts/users_header" %>
          <% end %>
        </div>
        <%= render partial: "layouts/header_nav" %>
      </header>
    <% end %>
    <div class="flash">
      <% if flash[:notice] %>
        <div id="notice"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] %>
        <div id="alert"><%= flash[:alert] %></div>
      <% end %>
    <div>
    <main>
      <% unless current_page?("/") %>
        <div class="right-section">
          <h2>人気のイベント</h2>
          <%= render partial: "layouts/popular_event", collection: popular_events %>
        </div>
      <% end %>
      <div class="main-section">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
