<!DOCTYPE html>
<html>
  <head>
    <title>MysterySearch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
  </head>
  <body>
    <% unless current_page?("/") %>
    　<header>
        <div class="header-wrapper">
          <div class="header-logo">
            <h1><a href='/home'>謎解き検索</a></h1>
          </div>
          <% if logged_in? %>
            <div class="header-usericon">
              <%= image_tag @current_user.icon, class: "user-icon" %>
            </div>
            <div class="header-username">
              <p className="user-name">ログインユーザー: <%= @current_user.name %>さん</p>
            </div>
            <div class="header-menu">
              <%= react_component 'UsersMenu', user: @current_user %>
            </div>
          <% end %>
        </div>
        <%= render partial: "layouts/header_nav" %>
      </header>
    <% end %>
    <main>
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
      <div class="right-section">
        <h2>人気のイベント</h2>
        <%= render partial: "layouts/popular_event", collection: popular_events %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
