<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= title(yield(:title)) %></title>
    <link rel="icon" href="/images/favicon-96x96.ico" type="image/png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Kiwi+Maru&family=Palette+Mosaic" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= include_gon %>
  </head>
  <body>
    <header>
      <%= render partial: "layouts/header" %>
    </header>
    <div class="flash">
      <% if flash[:notice] %>
        <div id="notice"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] %>
        <div id="alert"><%= flash[:alert] %></div>
      <% end %>
    </div>
    <main>
      <% unless current_page?("/") %>
        <div class="right-section">
          <h2>人気のイベント</h2>
          <%= render partial: "layouts/popular_event", collection: @popular_events %>
        </div>
      <% end %>
      <div class="main-section">
        <div class="tag">
          <% Tag.all.each do |tag| %>
            <%= link_to "##{tag.name}", "/tag/#{tag.id}", class: "tag-item" %>
          <% end %>
        </div>
        <%= yield %>
      </div>
    </main>
    <footer>
      <p class="footer">Copyright © 2022 Nazonavi</p>
    </footer>
  </body>
</html>
